# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Mac
.DS_Store

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# results file
*.jpeg
*.pdf
*.npy
!.imagenet_class_clean.npy
plot_temp/
*.pt
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

PLOTS/
figures/
img_templates/
img_templates/all_feat/
#results
datasets
datasets_inst
results/
linear_probe_logs/
train_results/
data/CIFAR*
