# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Mac
.DS_Store

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# results file
*.png
*.pdf
*.npy

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

img_templates/
img_templates/all_feat/
#results
datasets/
results/
linear_probe_logs/
train_results/
data/CIFAR*
